.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

h1{
  text-align: center;
}

.product{
  max-width: 500px;
  padding: 10px;
}

select{
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 0, 40px;
}

img{
  width: 400px;
  margin: 0 auto;
  display: block;
  object-fit: contain;
  margin-bottom: 20px;
}

span{
  color: cadetblue;
}
